---
import { Icon } from 'astro-icon/components';
---

<div class="marquee">
  <Icon name="star" />
  <span>Front-End</span>
  <Icon name="star" />
  <span>Back-End</span>
  <Icon name="star" />
  <span>AI/Machine Learning</span>
  <Icon name="star" />
  <span>DevOps</span>
  <Icon name="star" />
  <span>Front-End</span>
  <Icon name="star" />
  <span>Back-End</span>
  <Icon name="star" />
  <span>AI/Machine Learning</span>
  <Icon name="star" />
  <span>DevOps</span>
  <Icon name="star" />
</div>
<style>
  [data-icon='star'] {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
  }
  .marquee {
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
    font-size: 1.75rem;
    white-space: nowrap;
    border-block: 1px solid var(--color-gray-02);
    overflow: hidden;
  }
  @media (min-width: 48rem) {
    .marquee {
      display: flex;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
</style>
