---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Hero from '@components/landing/Hero.astro';
import Marquee from '@components/landing/Marquee.astro';
import BlogPreview from '@components/BlogPreview.astro';
import Footer from '@components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      @media (min-width: 768px) {
        .container {
          border-inline: 1px solid var(--color-gray-02);
        }
      }
      .spacer {
        height: 6rem;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <Hero />
      <Marquee />
      <BlogPreview />
      <Footer />
    </main>
  </body>
</html>
