---
import { Icon } from 'astro-icon/components';

const today = new Date();
---

<footer>
  <div class="container">
    <span class="font-sans"
      >&copy; {today.getFullYear()} Hafid Nur. All rights reserved.</span
    >
    <div class="social-links">
      <a
        href="https://www.linkedin.com/in/hafidnrzs/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="sr-only">Follow Hafid Nur di LinkedIn</span>
        <Icon name="mdi:linkedin" />
      </a>
      <a
        href="https://github.com/hafidnrzs"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="sr-only">Follow Hafid Nur di GitHub</span>
        <Icon name="mdi:github" />
      </a>
      <a
        href="https://www.facebook.com/hafidnrzs"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="sr-only">Follow Hafid Nur di Facebook</span>
        <Icon name="mdi:facebook" />
      </a>
    </div>
  </div>
</footer>
<style>
  footer {
    background: var(--color-black);
    font-size: 1rem;
    color: var(--color-white);
    text-align: center;
    .container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: space-between;
      align-items: center;
      padding-block: 2rem;
    }
  }
  [data-icon] {
    font-size: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
  }
  .social-links {
    display: flex;
    gap: 1.2rem;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.25rem;
      height: 2.25rem;
      border-radius: 50%;
      background-color: var(--color-white);
      text-decoration: none;
      color: var(--color-black);

      &:hover {
        background-color: var(--color-gray-03);
      }
    }
  }
  @media (width >= 48rem) {
    footer .container {
      border-inline: 1px solid var(--color-gray-10);
      flex-direction: row;
    }
  }
</style>
